.container{
    font-family: 'Tangerine', serif;
    background-color: wheat;
}
nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
    border-bottom: 4px solid black;
    background:wheat ;
   }
    
    
    
    nav a {
        text-decoration: none;
        font-family: Cambria, serif;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        text-transform: normal;
        letter-spacing: normal;
        line-height: 1.3em;
        color: #596365;
    }
    
    nav a:hover {
        
        font-size: 24px;
        line-height: 1.6em;
        color: #000;
    }

.centered {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:wheat;
    font-size: 80px;
    font-style: initial;
  }

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 90px;
    color:wheat;    
  }



    

